*{
    margin: 0;
    padding: 0;
    font-family: lato;
}
/* styles for nav container started */
.nav-container{
    height: 100vh;
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}
.nav-heading h1{
    font-size: 65px;
    font-weight: 900;
}
.nav-heading p{
    color: rgba(39, 39, 39, 0.60);
    margin: 25px 0px;
}
.btn-primary{
    border-radius: 8px;
    background: #E55473;
    padding: 16px 34px;
    border: none;
    color: white;
    font-size: 16px;
}
.nav-flower-img{
    width: 500px;
    height: 600px;
}
/* styles for nav container ended */

/* styles for featured flowers started */
.featured-flowers-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 80%;
    margin: auto;
    margin-top: 40px;
}

.featured-flowers-heading{
    text-align: center;
}
.featured-flowers-heading h1{
    margin-top: 100px;
    margin-bottom: 15px;
    font-weight: 800;
}
.featured-flowers-heading p{
    color: rgba(39, 39, 39, 0.60);
    line-height: 25px;
}
.featured-flowers-img{
     width: 370px;
     height: 450px;
     background: rgba(167, 33, 98, 0.15);
     border-radius: 300px 300px 0 0;
     text-align: center;
     text-decoration: underline;
     font-size: 20px;  
}
.flowers-img-1{
    width: 250px;
    margin: 105px 50px 15px 50px;
}
.flowers-img-2{
    width: 270px;
    margin: 120px 50px 75px 70px;

}
.flowers-img-3{
    width: 250px;
    margin: 75px 50px 15px 50px;
}
/* styles for featured flowers ended */

/* styles for Delivery and Support started */

/* styles for Delivery and Support ended */

/* styles for Hot Deal section started */

.hot-deals-container{
    display: flex;
    background: rgba(229, 84, 115, 0.05);
    align-items: center;
    justify-content: center;
    gap: 120px;
    margin-top: 150px;
}
.hot-deals-description{
    text-align: center;
    margin-top: 30px;
    padding: 150px 0px;
}
.hot-deals-description p{
    margin: 25px 0px;
    color: rgba(39, 39, 39, 0.60);

}
.hot-deals-flower{
    width: 260px;
    height: 330px;
}
.hot-deals-description h1{
    font-weight: 800;
}
.hot-deals-container span{
    color: #E55473;
}
/* styles for Hot Deal section ended */

/* styles for Instagram section started */

.instagram-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
    margin-top: 40px;
}
.instagram-img{    
    width: 290px;
    height: 300px;

}
.ig-img{
    width: 275px;
    height: 310px;
}
/* styles for Instagram section ended */

/* styles for Get The Latest Deals started */

.get-deals-container{
    width: 77%;
    background-image: url("../Flower Asset/rectangle 9.png");
    height: 48vh;
    margin: auto;
    margin-top: 80px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
   
    
}
.get-deals-title{
    text-align: center;
    position: absolute;
    top: 150px;
    left: 180px;
    color: white;

    
}
.get-deals-title h1{
    color: #272727;
    font-weight: 800;

}
.get-deals-title p{
    margin: 16px 0px;
    color: rgba(39, 39, 39, 0.60);
}
.get-deals-form{
    display: flex;
    gap: 14px;
    margin-right: 100px;
    
    
}
.get-deals-form input{
    width: 500px;
    border: none;
}